<div class="modal fade" id="requestModal" tabindex="-1" data-modal-id="request" aria-labelledby="requestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestModalLabel">Запрос</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="load-section" id="request-load-section">
                    <div class="spinner-container text-center" id="spinner">
                        <div class="spinner-border spinner-border-lg" role="status">
                            <span class="visually-hidden">Загрузка...</span>
                        </div>
                    </div>
                </div>
                <div id="request-data-section"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-theme" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>